<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org" >

 <head>
     <title>Contact Us</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="#" th:href="@{css/contact.css}">
 </head>
 <body>
     <!--Contact section start-->
     <section class="contact-section">
         <div class="container">
             <div class="row">
                 <div class="section-title">
                    <h2 data-text="Contact">Get in Touch</h2>
                 </div>
             </div>
             <div class="row">
                 <div class="contact-form">
                    <form>
                        <div class="row">
                            <div class="input-group input-3">
                                <input type="text" placeholder="Nom" class="input-control">
                            </div>
                            <div class="input-group input-3">
                                <input type="text" placeholder="Telephone" class="input-control">
                            </div>
                            <div class="input-group input-3">
                                <input type="text" placeholder="Email" class="input-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <textarea placeholder="Message" class="input-control"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <button type="submit" class="submit-btn">Send Message</button>
                            </div>
                        </div>
                    </form>
                 </div>
             </div>
         </div>
     </section>
 </body>
