<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
     <link rel="stylesheet" href="#" th:href="@{css/rendez_vous.css}">
     <title>Rendez Vous</title>
 </head>

 <body>
    <div class="panel-container">
		
        <form class="left" th:action="@{/rendez_vous}" th:object="${rendez_vous}" method="POST">
        
            <h2>Rendez_vous</h2>
            
            <h3>Nom</h3>
            <input type="text"  th:field="*{nom}"/> 
            
            <h3>E-mail</h3>
            <input type="text"  th:field="*{email}" required/> 
            
            <h3>Telephone</h3>
            <input type="text"  th:field="*{telephone}" required/>
            
            <h3>Marque</h3>
            <input type="text" th:field="*{marque}" required/>

            <h3>Modele</h3>
            <input type="text"  th:field="*{modele}" required/>

            <h3>Date</h3>
            <input type="text" id="date" th:field="*{date}" placeholder="aaaa-mm-jj" required/>
            
        
   

            <button type="submit" id="button">Confirm Reservation</button>
            <!--Verify the Date Form to match the backend form-->
            <script>
                document.querySelector('#button').onclick = function () {
                    var date = document.querySelector('#date').value;
                    var regEx = /^\d{4}-\d{2}-\d{2}$/;
                    if(!date.match(regEx)){
                        alert("date format is wrong! Please use the aaaa-mm-jj format!");
                        return false;
                    }
                    var d = new Date(date);
                    var dNum = d.getTime();
                    if(!dNum && dNum != 0){
                        alert("Please fill the reservation date!");
                        return false;
                    }
                    if(!d.toISOString().slice(0,10) == date) {
                        alert("The date is invalid!!")
                        return false;
                    }

                }
            </script>
		</form>
        <div class="right"></div>
    </div>
 </body>
 </html>